.btnLaunch{
    -fx-text-fill: black;
    -fx-font-size: 150%;
    -fx-font-weight: bold;
    -fx-border-color: lime;
    -fx-border-style: double%;
    -fx-background-color: aqua;
}

.pane{
    /*-fx-background-image: url("image/reversi-game.jpg");*/
    -fx-background-color: darkslategray;
    /*-fx-background-repeat: stretch;*/
    /*-fx-background-size: 900 506;*/
    /*-fx-background-position: center center;*/
}

.playersLabel{
    -fx-font-weight: bold;
    -fx-font-size: 100%
}

.navigationHBox{
    -fx-background-color: whitesmoke;
    -fx-border-style: none;
}

.btnNavigation{
    -fx-border-style: none
}

.lblNtkUIPlayer{
    -fx-font-weight: bold;
    -fx-font-family: 'Times New Roman';
    -fx-font-size: 300%;
    -fx-text-fill: aqua;
}

.lblHostAddressAndPort{
    -fx-text-fill: aqua;
    -fx-font-weight: bold
}

.board{
    -fx-background-image: url('../image/540px-board-1.png');
}

.lblPlayersUI{
    -fx-font-weight: bold;
    -fx-font-family: 'Times New Roman';
    -fx-font-size: 300%;
    -fx-text-fill: aqua;
}